.info{
    display: flex;
    justify-content: space-around;
}

.currencies-list{
    margin-left: 200px;
}

.languages{
    margin-left: 200px;
}
.capital_value{
     margin-left: 60px;
}

.population_value{
    margin-left: 60px;
}

