.info{
    display: flex;
    justify-content: space-around;
}

.currencies-list{
    margin-left: 200px;
}

.currencies-name{
    color: #0000ff;
}

.languages{
    margin-left: 200px;
}

.languages-name{
color: #0000ff;
}



.capital_value{
     margin-left: 60px;
     color: #0000ff;
}

.population_value{
    margin-left: 60px;
    color: #0000ff;
}

.search-box{
    position: relative;
}

